<div id="the-man">
  <div id="settings-header" class="management-header"></div>
  <div id="man-menu">
    <div class="man-menu">General</div>
    <div class="man-menu">Accounts</div>
    <div class="man-menu">Avatar</div>
  </div>
  <div id="man-content">
    <div id="man-view" class="user">
    </div>
  </div>
</div>
